<!DOCTYPE html>
<html>
  <head>
    <title>Error</title>
  </head>
  <body>
    <%= message %> <br>
    Bitrate: <%= bitrate %> in kb/s <br>
    Duration:  <%= duration %> in s <br>
    <a href="/">Back</a>
  </body>
</html>
